@import './styles/colors';
html,
body,
#root,
.ant-layout {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ant-layout {
  background: #e0e8f2;
}

.app-content {
  padding: 24px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lodaer-style {
  height: 100%;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
color: $primary-color;
}
.ant-tabs .ant-tabs-tab-btn{
  font-size: 16px;
}
.ant-tabs .ant-tabs-tab:hover{
  color: $primary-color;
}
/* Responsive adjustments */
@media (max-width: 768px) {

  .app-content{
    padding: 16px;
  }
  .trigger {
    font-size: 16px;
    line-height: 48px;
  }

  .site-layout-background {
    padding: 0px;
  }

  .ant-layout {
    background: #e0e8f2;
  }
}
.icon-size{
  font-size: 24px;
}
.text-white{
  color: $bg-white;
}
.display-flex-center-gap-10{
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.text-center{
 display: flex;
 justify-content: center;
 align-items: center;
}
.full-width{
  width: 100%;
}
.display-flex-direction-column{
  display: flex;
  // align-items: center;
  flex-direction: column;
}
.display-flex-space-between{
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex-wrap: wrap;
}
.gap-10{
  gap: 10px;
}